* {box-sizing:border-box}
body {background-color:lightgrey}
header {box-shadow:5 px 5 px 6 px black; border-left:10 px black}
h1 {margin-left:auto; margin-right:auto; text-decoration:underline}
p {size:1.5 em; color:blue}
