* {box-sizing:border-box}
body {background-color:lightgrey}
header {box-shadow:5px 5px 6px black; border-left:10px black}
h1 { text-decoration:underline; color:darkblue; text-align:center}
p {font-size:2em; color:blue}
